<template>
  <b-container fluid class="p-4 bg-dark">
    <b-row>
      <b-col>
        <b-img
          thumbnail
          fluid
          src="https://picsum.photos/250/250/?image=54"
          alt="Image 1"
        ></b-img>
      </b-col>
      <b-col>
        <b-img
          thumbnail
          fluid
          src="https://picsum.photos/250/250/?image=58"
          alt="Image 2"
        ></b-img>
      </b-col>
      <b-col>
        <b-img
          thumbnail
          fluid
          src="https://picsum.photos/250/250/?image=59"
          alt="Image 3"
        ></b-img>
      </b-col>
    </b-row> </b-container
></template>
